@using PrettyBlazor;
@using Taarafo.Portal.Web.Models.PostViews;
@using Taarafo.Portal.Web.Views.Bases;

<Virtualize Items=@PostViews Context=postView>
    <CardBase>
        <Content>
            <p>
                @postView.Content
            </p>
        </Content>
    </CardBase>
</Virtualize>