@page "/"

@using Taarafo.Portal.Web.Views.Bases

<div style="height:1000px">


<DialogBase @ref=Dialog 
            Title="New Post"
            Width="250px"
            OnClick=@CloseDialog
            ButtonTitle="SUBMIT">
            <Content>This is the content</Content>
</DialogBase>
</div>